/* 전체 컨테이너 */
  .wedding-invitation-container {
    display: flex;               /* Flexbox 활성화 */
    flex-direction: column;      /* Row 정렬 (세로 방향) */
    align-items: center;         /* 모든 자식을 중앙 정렬 */
    justify-content: center;     /* 부모 컨테이너 내 중앙 배치 */
    margin: 0 auto;              /* 가로 중앙 배치 */
    text-align: center;          /* 텍스트 중앙 정렬 */
    position: relative;          /* 부모 컨테이너에 의존하지 않음 */
    min-height: 100vh;           /* 화면 전체 높이 */
}
  
  /* MainImage, ClosingMessage 컴포넌트 별도 처리 */
  .wedding-invitation-container > :first-child,
  .wedding-invitation-container > :last-child {
    width: 100%;                  /* 부모 너비에 맞춤 */
    max-width: none;              /* max-width 제한 제거 */
    object-fit: contain;          /* 이미지나 콘텐츠를 비율에 맞춰 조정 */
    flex-shrink: 0;               /* 축소 방지 */
}
  
  /* MainImage, ClosingMessage를 제외한 나머지 컴포넌트 간 간격 */
  .wedding-invitation-container > :not(:first-child):not(:last-child) {
    width: 500px;
    max-width: 100%;
    margin-top: 60px;
}

/* 공통 헤더 스타일 */
.header {
  margin-bottom: 20px;
  text-align: left;
}

.header-title {
  font-size: 0.9rem; /* 텍스트 크기 */
  font-weight: lighter;
  color: #333333; /* 텍스트 색상 */
  margin: 0;
}

.header-icon {
  width: 50px;
  height: 20px;
  background-image: url('../../assets/images/wedding-bell.svg'); /* 월계관 이미지 경로 */
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto 8px auto; /* 중앙 정렬 */
}

.header-line {
  width: 100%; /* 선의 너비 */
  height: 1px;
  background-color: #ccc; /* 선의 색상 */
  border: none; /* 기본 border 제거 */
  margin: 8px 0; /* 위아래 여백 */
}

html, body {
  width: 100%;
  overflow-x: hidden; /* 수평 스크롤 방지 */
}

/* 반응형 디자인 */
@media (max-width: 480px) {
  .wedding-invitation-container > :not(:first-child):not(:last-child) {
      width: 90%;
      max-width: 85%;
    }
}
  