.weddingVenueContainer {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .weddingVenueText  {
    margin: 5px 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
  }

  .mapContainer {
    width: 85%;
    aspect-ratio: 1 / 1; /* 정사각형 비율 */
    margin: 20px auto;
  }

  .directionsContainer {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .addressHeader, .subwayHeader, .busHeader, .addressHeader, .parkingHeader {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
  }

  .address, .subwayText, .busText, .addressText, .parkingText {
    color: #333;
    font-size: 0.9rem;
    font-weight: normal;
    white-space: pre-line; /* 줄바꿈 처리 */
  }

  .mapButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .mapButtons button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007b5e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mapButtons button:hover {
    background-color: #005f47;
  }
  