.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .groomSection {
    overflow: hidden;
    border: 1px #5A9FD7;
  }

  .brideSection {
    overflow: hidden;
    border: 1px #E68A9E;
  }
  
  .groomHeader {
    background: #D6EBFF;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .groomHeader.expanded {
    background: #B0D7FA;
  }

  .brideHeader {
    background: #FADBE3;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .brideHeader.expanded {
    background: #F2D6E2;
  }
  
  .content {
    background: #ffffff;
  }
  
  .groomContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
    background-color: #F1F8FF;
    padding: 8px;
  }

  .groomParentsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F1F8FF;
    margin-top: 8px;
    padding: 8px;
  }

  .brideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
    background-color: #FEF2F5;
    padding: 8px;
  }

  .brideParentsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FEF2F5;
    margin-top: 8px;
    padding: 8px;
  }

  .accountContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%; /* 부모 요소 기준 정렬 */
  }

  .accountContainer span {
    margin-right: auto; /* 계좌번호를 왼쪽에 고정 */    
    font-size: 16px;
    font-weight: 500;
  }

  .copyButton {
    background: #f2f2ff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    flex-shrink: 0; /* 버튼 크기 유지 */
  }

  .kakaoPay {
    background: none; 
    border: none;
    padding: 0; 
    cursor: pointer;
    display: inline-block; /* 이미지 크기에 맞게 버튼 크기 조절 */
    flex-shrink: 0; /* 버튼 크기 유지 */
  }  
  
  .kakaoPay img {
    width: 50px;
    height: auto;
  }

  .footer {
    font-size: 14px;
    font-weight: lighter;
  }
  
@media (max-width: 480px) {
  .groomContainer, .brideContainer, 
  .groomParentsContainer, .brideParentsContainer, 
  .accountContainer {
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }

  .accountContainer span {
    margin: auto;
  }

  .copyButton, .kakaoPay {
      width: auto;
  }
}