.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .section {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .header {
    background: #E6E6FA;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .header.expanded {
    background: #DFF8EB;
  }
  
  .content {
    background: #ffffff;
    padding: 15px;
  }
  
  .personContainer, .parentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 0 8px;
  }

  .accountContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 8px 0;
    width: 100%; /* 부모 요소 기준 정렬 */
  }

  .accountContainer span {
    margin-right: auto; /* 계좌번호를 왼쪽에 고정 */
    font-size: 16px;
    font-weight: 500;
  }

  .copyButton {
    background: #f2f2ff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    flex-shrink: 0; /* 버튼 크기 유지 */
  }

  .kakaoPay {
    background: none; 
    border: none;
    padding: 0; 
    cursor: pointer;
    display: inline-block; /* 이미지 크기에 맞게 버튼 크기 조절 */
    flex-shrink: 0; /* 버튼 크기 유지 */
  }  
  
  .kakaoPay img {
    width: 50px;
    height: auto;
  }

  .footer {
    font-size: 14px;
    font-weight: lighter;
  }
  
@media (max-width: 480px) {
  .accountContainer {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }

  .buttonGroup {
      width: 100%;
      display: flex;
      justify-content: flex-end;
  }

  .copyButton, .kakaoPay {
      width: auto;
  }
}