  /* 이미지 스타일 */
  .imageContainer {
    margin-bottom: 20px; /* 이미지와 텍스트 간격 */
  }
  
  .weddingImage {
    max-width: 120px; /* 이미지 크기 */
    height: auto;
    display: block;
    margin: 0 auto; /* 이미지 중앙 정렬 */
  }
  
  /* 본문 메시지 */
  .body .message {
    font-size: 0.9rem;
    line-height: 1.8;
    color: #333333;
    white-space: pre-line; /* 줄바꿈 처리 */
    text-align: center; /* 본문 중앙 정렬 */
    margin-bottom: 20px;
  }
  
  /* 부모님 정보 */
  .parents {
    text-align: center; /* 부모님 정보 중앙 정렬 */
  }
  
  .parents p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .parents p strong {
    font-weight: bold;
    color: #333333;
  }
  