/* 날짜 및 시간 */
.dateTimeContainer {
  text-align: right;
  margin-bottom: 20px;
}

.dateText, .timeText {
  margin: 5px 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

/* 캘린더 컨테이너 스타일 */
.calendarContainer {
  width: 90%;
  margin: 20px auto -40px;
}

.calendar {
  border-collapse: collapse;
  margin: 0 auto;
}

.calendarHeader {
  font-size: 0.9rem;
  font-weight: bold;
  color: #007b5e; /* 초록색 */
  padding: 10px 0;
  text-align: center;
}

.calendarHeaderTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007b5e;
  margin-bottom: 10px;
}

.calendarDay {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
}

.normalDay {
  color: #333;
}

.emptyDay {
  background-color: transparent;
}

.selectedDay {
  width: 40px; /* 원의 가로 크기 */
  height: 40px; /* 원의 세로 크기 */
  background-color: #ff6b8a; /* 핑크색 배경 */
  color: #fff; /* 흰색 텍스트 */
  border-radius: 50%; /* 정원 만들기 */
  font-weight: bold; /* 텍스트 굵게 */
  text-align: center; /* 텍스트 중앙 정렬 */
  line-height: 40px; /* 텍스트 수직 중앙 정렬 */
  margin: 10px auto; /* 중앙 정렬 */
}
